*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,rgb(144, 183, 181),rgb(19, 56, 95));
}

.container{
    max-width: 500px;
    margin: 200px auto;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgb(255,87,87,0.3);
}
.h1
{
    text-align: center;
    margin-bottom: 20px;
}